functions-framework==3.*
google-cloud-storage
langchain-community
langchain-text-splitters
langchain-google-vertexai
langchain-postgres
asyncpg
pgvector
pypdf>=6.0.0
google-cloud-secret-manager

# Security Fixes
protobuf>=6.33.5
urllib3>=2.6.3
zipp>=3.19.1
requests>=2.32.4
numpy>=1.22.0
pyasn1>=0.6.2 # not directly required, pinned by Snyk to avoid a vulnerability
